		body{
			background-color: lightgray;
		}
		.link {
          border: 5px outset black;

          text-align: left;
          word-wrap: break-word;
          display: block;


		}
		li:hover {
		  background-color: gray;
		}
		.linkTag{
		  display: inline;
		  list-style: none;
		  border: 5px outset black;
		  background-color: lightgray;
		  padding: 3px;
		  word-wrap: break-word;
		}
		.headerTag{
		  list-style: none;
		  border: 5px outset black;
		  background-color: lightgray;
		  padding: 3px;
		  word-wrap: break-word;
		  display: inline-block;
		}
		.tagList{
		  line-height: 2.2
		}
		a,p{
		  padding: 10px;
		}


		#linklist{
			margin-left: 2.5%;
			margin-right: 2.5%;
			overflow: auto;
		}
		#directory{
			margin-left: 2.5%;
			margin-right: 2.5%;
			overflow: auto;
			text-align: center;
		}
		h1,h3 {
			text-align: center;
		}
		#controls {
			text-align: center;
			margin: 5;
		}
		input[type="radio"] {
		  margin-right: 0;
		  height:18px;
		  width:18px;
		}